*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Dana;
    background-color: #eeeeee69;
}
.container{
    display: grid;
    grid-template-rows: 100vh repeat(6, max-content);
    grid-template-columns: repeat(6, 1fr);
}
.section-title{
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
    color: orange;
}
.section-title::before,
.section-title::after{
    background-color: rgba(128, 128, 128, 0.548);
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 5%;
    margin: 10px;
}